<section id="contact">
    <div class="container-fluid max-width:60%">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Get in touch!</h2>
                <br>
                <p>Do you have some ideas that you would like Cavendish Prism to do? Let us know!</p>
                <br>
            </div>
        </div>
        <div class = "row justify-content-md-center">
        <div class="col-md-auto text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-md-auto text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        </div>
    </div>
</section>
