<header>
    <div class="header-content">
        <div class="header-content-inner">
                <img src ="img/cavendish_prism_logo.svg" style="height:250px; max-width: 100%;">               
            <p>Supporting LGBTQ+ members in the department of physics at Cambridge University.</p>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find out more</a>
        </div>
    </div>
</header>
