<nav id="mainNav" class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
        <a class="navbar-brand" href="#page-top"><img src ="img/logo.svg" height = "30" class="d-inline-block align-top">&nbsp Cavendish Prism</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id = "navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#about">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#initiatives">Initiatives</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
